body {
  padding: 2rem 10rem;
}
header h1 {
  width: fit-content;
  margin: 2rem auto;
}

main {
  margin: 2rem auto;
}

.feed-reader-container {
  display: flex;
  gap: 10px;
}
.main-col {
  flex-basis: 20%;
}

.secondry-col {
  flex-basis: 20%;
}

.content-col {
  flex-grow: 1;
}

.card {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 5px;
}
.card-title {
  margin: 20px auto;
  font-size: 1.2rem;
  width: fit-content;
}

.list {
  list-style: none;
  padding: 0;
}

.list-item button {
  background-color: transparent;
  border: none;
  padding: 5px 0;
}
.list-item button:hover {
  cursor: pointer;
  text-decoration: underline;
}
